
// Menssage services
// --------------------------------------------------
#mc-messages-wrapper{
    position: fixed;
    z-index: 9999;
    margin-top: 5px;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
