// Layout
// --------------------------------------------------

#wrapper {
  height: 100%;
  width: 100%;
}

#sidebar-wrapper {
  background: #393939;
  position: fixed;
  width: 250px;
  height: 100%;
  vertical-align: top;
  overflow-y: auto;
}

#page-content-wrapper {
  display: inline-block;
  height: 100%;
  // padding: 0 0 0 250px;
  vertical-align: top;
  width: 100%;
}

@media(max-width: $screen-sm-min){
  #sidebar-wrapper {
    display: none;
  }

  #page-content-wrapper {
    padding: 0;
  }
}

@media(min-width: $screen-sm-min){
  #page-content-wrapper {
    padding-left: 250px;
  }
}
