<nav class="sidebar">
    <div class="sidebar-container">
        <div class="logo">crm</div>
        <ul>
            <li>
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-user icon" aria-hidden="true"></span>
                </a>
                <a href="" ng-click="main.msg()">Mi Perfil</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">Eventos para hoy</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">Premio Variable</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">Gestión Comercial</a>
                <ul>
                    <li><a href="" ng-click="main.msg()">Los 10 + CHE</a></li>
                    <li><a href="" ng-click="main.msg()">Premio Variable</a></li>
                    <li><a href="" ng-click="main.msg()">Camp personalizadas</a></li>
                </ul>
            </li>
            <li>
                <a href="" ng-click="main.msg()">Gestión Operativa</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">Solicitudes</a>
            </li>
            <li class="space">
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-bell icon" aria-hidden="true"></span>
                </a>
                <a href="" ng-click="main.msg()">Notificaciones</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-sort icon icon-notification" aria-hidden="true"><div class="badge-notification">5</div></span>
                </a>
                <a href="" ng-click="main.msg()">Atención de Clientes</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-briefcase icon" aria-hidden="true"></span>
                </a>
                <a href="" ng-click="main.msg()">Mi Cartera de Clientes</a>
            </li>
            <li>
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-search icon" aria-hidden="true"></span>
                </a>
                <a href="" ng-click="main.msg()">Buscar</a>
            </li>
            <li class="space">
                <a href="" ng-click="main.msg()">
                    <span class="glyphicon glyphicon-off icon" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
